html {
	height: 100%;
}

body {
	background: rgb(123,163,157);
	background: linear-gradient(0deg, rgba(123,163,157,1) 0%, rgba(213,237,242,1) 100%);
	width: 80%;
	height: 100%;
	margin: auto;
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: Verdana, Geneva, sans-serif;
	color: #3C3744;
}

h1 {
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

table {
	border-collapse: collapse;
	width: 50%;
}

th, td {
	text-align: left;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

table, th, td {
	border-collapse: separate;
	border-spacing: 15px;
	border-radius: 5px;
}


th {
	height: 30px;
	background-color: white;
}

td {
	background-color: white;
	opacity: 80%;
}

#descriptionblock {
	display: none;
}

textarea {
	max-width: 95%;
}

#todo {
	float: left;
	background-color: white;
	margin-top: 20px;
	width: 30%;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#taskList {
	float: right;
	width: 60%;
	margin: 0px;
}

#nameReminder {
	color: grey;
	margin-left: 10px;
}

#tagReminder {
	color: grey;
	position: relative;
	top: 40px;
	left: 80px;
}

.formlabel {
	font-weight: bold;
}

i:hover {
	opacity: 50%;
}